h1 {
  font-family: "Playfair Display", Serif;
  font-size: 24px;
  color: #968c83;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", Sans-Serif;
  color: #968c83;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4,
h6 {
  font-size: 18px;
  color: #68615c;
}

p {
  font-family: "Playfair Display", Serif;
  color: #968c83;
  text-align: center;
  padding-top: 10px;
}

.container {
  border: 1px solid gray;
  padding: 0px;
  box-shadow: 15px 5px 15px #d6d2c4;
  border-radius: 5px;
  max-width: 700px;
  margin: 30px auto;
}

.container .card .card-header {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  padding-top: 10px;
  padding-bottom: 0px;
}

input,
button {
  margin-bottom: 10px;
}

.current-forecast {
  text-align: right;
}

.weather-forecast {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.container .card .card-header .row {
  padding-bottom: 10px;
}

.weather-icon {
  display: block;
  margin: 0 auto;
}

.city {
  text-transform: capitalize;
}

.weather-forecast-min {
  opacity: 0.7;
}
